<ion-view view-title="{{'SIGNUP_TITLE' | translate}}">
	<ion-content scroll="false">
		<form ng-submit="doSignup()">
			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="{{'ID' | translate}}" ng-model="signupData.id">
				</label>
				<label class="item item-input">
					<input type="text" placeholder="{{'NAME' | translate}}" ng-model="signupData.name">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="signupData.password">
				</label>
				<label class="item">
					<button class="button button-block button-positive" type="submit">{{'SIGNUP' | translate}}</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-view>